env
*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
**/migrations/*
**/migrations/**
!**/migrations

.migrations
**/migrations

.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 
.env



**/migrations
**/__pycache__
**/media
