<div class="mdc-card mdc-card-outlined quiz-preview-parent card-max-h p-2 d-none">

</div>

<div class="quiz-question-row d-none">
    <span class="quiz-no-txt bold"></span>
    <span class="quiz-question-txt"></span>
    <div class="ans-options d-flex align-items-center flex-wrap">
    </div>
</div>
<div class="ans-radio-btn mdc-form-field flex-fill w-50 d-none">
    <div class="mdc-radio mdc-radio--disabled">
        <input class="mdc-radio__native-control" type="radio"  name="ans-radios" disabled>
        <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
        </div>
        <div class="mdc-radio__ripple"></div>
        <div class="mdc-radio__focus-ring"></div>
    </div>
    <label></label>
</div>