<div class="form-fields-container d-none">
    <div class="col-md-12">
        <div class="col-md-5 form-group">
            <label class="text-white">Speed : </label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="easy">
                <label class="form-check-label text-white" for="inlineRadio1">Easy</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="medium">
                <label class="form-check-label text-white" for="inlineRadio2">Medium</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="hard">
                <label class="form-check-label text-white" for="inlineRadio3">Hard</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                    value="extreme">
                <label class="form-check-label text-white" for="inlineRadio4">Extreme</label>
            </div>
        </div>

        <div class="col-md-5 form-group">
            <label class="text-white">Initial Size :</label>
            <input type="range" name="range" id="edit-range" min="1" max="10" value="5">
            <p class="text-white">Size : <span id="edit-size"></span></p>
        </div>

        <div class="col-md-5">
            <button type="button" class="mdc-button mdc-button--raised  create-new-memory-number-btn">
                <div class="mdc-button__ripple"></div>
                <div class="spinner-border d-none" role="status"></div>
                <span class="mdc-button__label">Submit</span>
            </button>
        </div>
    </div>
</div>