{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'quiz/css/style.css' %}">
    <title>HelloHERO</title>
</head>

<body class="bg-dark" style="color:#ffffff">
    <div class="mdc-typography center">
        <span class="mdc-typography--headline5 text-white text-center">HelloHERO Memory Game</span>
    </div>
    {% if role == 'Therapist' %}
    <div class="row col-sm-12 mt-2 pt-3 memory_game">
        <div class="col-sm-5 pr-0">
            <input type="text" class="link-to-copy w-100 h-100 bg-white" disabled />
        </div>
        <div class="col-sm-3 pl-0">
            <button type="button" class="mdc-button mdc-button--raised  share-play-memory-game-btn">
                <div class="mdc-button__ripple"></div>
                <div class="spinner-border d-none" role="status"></div>
                <span class="mdc-button__label">Share Quiz</span>
            </button>
        </div>

    </div>
    <div class="row col-md-12 mt-3 pt-3">

        <div class="col-md-4">
            <h5 class="text-white pl-1">Number</h5>
            <div class="container show-memory-number">
                {{number}}

            </div>
            <div class="d-flex justify-content-between w-80">
                <button type="button" id="start-memory-game-btn" class="mdc-button mdc-button--raised">
                    <div class="mdc-button__ripple"></div>
                    <div class="spinner-border d-none" role="status"></div>
                    <span class="mdc-button__label">Start</span>
                </button>
                <button type="button" id="change-memory-game-btn" class="mdc-button mdc-button--raised d-none">
                    <div class="mdc-button__ripple"></div>
                    <div class="spinner-border d-none" role="status"></div>
                    <span class="mdc-button__label">Try new number</span>
                </button>
            </div>

        </div>

        <div class="col-md-8 play-quiz">
            {% include 'partials/preview_quiz_modal.html' %}

            <div class="mt-2 text-center">
                <button type="button" class="mdc-button mdc-dialog__button mdc-button--raised d-none"
                    id="save-play-quiz-btn">
                    <div class="mdc-button__ripple"></div>
                    <div class="spinner-border d-none" role="status">
                    </div>
                    <span class="mdc-button__label">Save</span>
                </button>
            </div>

            <!-- <img src="{% static 'quiz/images/failed.png' %}" width="250px" height="auto"/>             -->
        </div>


    </div>
    {% endif %}

    <div class="row col-sm-12 memory-number-container-height d-none">
        {% if role == 'Client' %}
        <p class="mx-auto student-note mt-0">Now, You have to remember the Numbers displayed in the below box. Remember
            the number in the order they displayed.</p>
        {% endif %}
        <div class="col-sm-8 memory-number-container h-100">

        </div>
        {% if role == 'Client' %}
        <input type="text" class="input-memoize-value form-control d-none" placeholder="Enter the Number" />
        <button type="button" class="mdc-button mdc-button--raised  save-memoize-value-btn d-none">
            <div class="mdc-button__ripple"></div>
            <div class="spinner-border d-none" role="status"></div>
            <span class="mdc-button__label">Submit</span>
        </button>
        {% endif %}
    </div>


    <aside class="mdc-snackbar quiz-link-cpy-snackbar" aria-label="copyclipboard">
        <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
            <div class="mdc-snackbar__label" aria-atomic="false">
                Link copied to clipboard
            </div>

        </div>
    </aside>
    <aside class="mdc-snackbar quiz-join-snackbar" aria-label="roomjoined">
        <div class="mdc-snackbar__surface" role="status" aria-relevant="additions">
            <div class="mdc-snackbar__label" aria-atomic="false">

            </div>

        </div>
    </aside>
    <div class="mdc-dialog create-memory-game-modal">
        <div class="mdc-dialog__container">
            <div class="mdc-dialog__surface bg-dark" role="alertdialog" aria-modal="true"
                aria-labelledby="my-dialog-title" aria-describedby="my-dialog-content" style="padding: 20px;"></div>
        </div>
        <div class="mdc-dialog__scrim"></div>
    </div>
    {% include 'partials/performance_show_modal.html' %}
    {% include 'create_memoygames_form.html' %}
    <script type="text/javascript" src="{% static 'quiz/js/jquery-3.6.0.min.js' %}"></script>
    <script type="text/javascript">
        var num = '{{ number }}';
        var room_code = '{{ room_code }}';
        var role = '{{ role }}';
        var speed = '{{ speed }}';
        var client_id = '{{ client_id }}';
        var therapist_id = '{{ therapist_id }}';
    </script>
    <script type="text/javascript" src="{% static 'memory_game/js/memory_games.js' %}"></script>
    <script>
    </script>
</body>

</html>